:host{
   display: block;

}



.row{
    //margin: 1em;
    margin: 1vh 1vw 1vh 1vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: wrap;

    perspective: 1000px;
    transform-style: preserve-3d;


    .card {
      display: block;
    }

    .card-button{
       position: absolute;
       z-index: 2;
    }
 }

 .column {
    flex-basis: 50%;
    min-width: 400px;
    width: 100%;
  }
 
  
  @media (max-width: 850px) {
    .row{
       flex-direction: column;
       }
       .column{
          min-width: unset;
          // flex-basis:100%;
       }
    }
 