:host{
    display: flex;
    background-color: var(--primary-color-1);

    @media (max-width: 600px) {
        display: block;
    }
    
    .container{
        flex-grow: 1;
        color: var(--main-color);

        p{
            font-family: 'Poppins','Open Sans', sans-serif;
            margin: 2em;
            font-size: 1.2em;
            &:first-child{
                font-weight: bold;
            }
        }

        a{
            color: var(--main-color);
        }
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: wrap;
 }

.column {
    flex-basis: 50%;
    // min-width: 400px;
    width: 100%;

    app-table{
        margin: 1em;
        display: block;
        height: 67vh;
        overflow: overlay;
    }
  }

  .link-row{
    margin: 2em;
    a{
        vertical-align: super;
        padding-left: 0.5em;
    }
  }
 
 
  
  @media (max-width: 850px) {
    .row{
        flex-direction: column;
        .column{
            min-width: unset;
        }
    }
  }
 
   
    ul {
        list-style: none;
    }