<app-side-menu [listMenu]="infoCircuit$|async" (menuSelected)="select($event)"></app-side-menu>

<div class="container">
    <app-row-layout *ngIf="infoCircuit$ |async as info">
        <div class="column">
            <p *ngFor=" let line of info[rowSelected].text">
                {{line}}
            </p>

            <ul> Links: 
                <li *ngFor=" let link of info[rowSelected].link">
                    <img src="/assets/img/ico/{{link.img}}.png" height="16" width="16"/>
                    <a href="{{link.url}}" target="_blank">{{link.title}}</a> 
                </li>
            </ul>
        </div>

        <div class="column">
            <app-table [data]="info[rowSelected].table" title="Clasification" #table></app-table>
        </div>
    </app-row-layout>

</div>