:host{
    display: flex;

    
    .container{
        flex-grow: 1;
    }
}

.column {
    flex-basis: 50%;
    min-width: 400px;
    width: 100%;
  }
 
  
  @media (max-width: 850px) {
       .column{
          min-width: unset;
       }
    }
 
   
 