:host{
    display: flex;
    background-color: var(--primary-color-1);
    
    .container{
        flex-grow: 1;

        p{
            font-family: 'Poppins','Open Sans', sans-serif;
            margin: 2em;
            font-size: 1.2em;
            &:first-child{
                font-weight: bold;
            }
        }
    }
}

.column {
    flex-basis: 50%;
    // min-width: 400px;
    width: 100%;

    app-table{
        margin: 1em;
        display: block;
        height: 70vh;
        overflow: overlay;
    }
  }
 
  
  @media (max-width: 850px) {
       .column{
          min-width: unset;
       }
    }
 
   
    ul {
        list-style: none;
    }