:host{

    color: aliceblue;

    @media (min-width: 601px) {
        display: none;
    }

    .menu-responsive{
        background: #4f5a68;
        width: 100%;
        padding: 1em 0;
        display: flex;

        span{
            margin: auto 0;
            margin-left: 1em;
            font-size: xx-large;
        }

        .menu-icon{
            margin-left: 2em;
            cursor: pointer;
            div {
                width: 35px;
                height: 5px;
                background-color: white;
                margin: 6px 0;
              }
        }
    }

    .side-menu{
        width: 100%;
        position: fixed;
        top: 16em;

        box-sizing: border-box;
        background: #4f5a68;
        color: aliceblue;

        max-height: 68vh;
        overflow: auto;
        //box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
        // transition: transform 0.5s;
        // -webkit-transition: -webkit-transform 0.5s, transform 0.5s;

        .side-menu-overlay{
            position: relative;
        }


    }


    ul {
        list-style: none;
        padding: 0;


        li{
            cursor: pointer;
            padding: 10px;
            padding-left: 1.5em;
            &:hover{
                background-color: #84bcfd;
            }
        }
    }


}
