:host{
  display: block;
  height: calc(400px + 2vw);
  width: 100%;
  position: relative;

  .card-button{
    position: absolute;
    z-index: 2;
    left: 1.5vw;
    top: 5px;
 }
}

.flipper {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;

  margin: 1vh 1vw 1vh 1vw;
}
.sides {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  color: #fff;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  user-select: none;
}
.back {
  transform: rotateY(180deg);
}
