:host{
    display: block;
    background-color: var(--primary-color-1);

    .container{
        flex-grow: 1;
        color: var(--main-color);
        padding-top: 4.5em;
        @media (orientation: landscape) {
            padding-left: 10em;
            padding-top: 0.5em;
        }

        p{
            font-family: 'Poppins','Open Sans', sans-serif;
            font-size: 1.2em;
        }

        a{
            color: var(--main-color);
        }

        .title{
            font-family: 'Poppins','Open Sans', sans-serif;
            margin: 1em;
            font-size: 1.2em;
            font-weight: bold;
            @media (max-width: 600px) {
                top: 6em;
                left: 4em;
                z-index: 101;
                margin: 0;
                position: fixed;
                background-color: #404e5d;
                color: white;
            }
        }

        .menuIco{
            position: relative;
            top: 0.25em;
            cursor: pointer;
            &:hover{
                font-weight: bold;
            }
            @media (max-width: 600px) {
                display: none;
            }
        }
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: wrap;
 }

.column {
    flex-basis: 50%;
    // min-width: 400px;
    width: 100%;

    app-table{
        margin: 1vh 1vw 0vh 0.5vw;
        display: block;
        height: 65vh;
        overflow: overlay;
        @media (max-width: 850px) {
            margin: 1vh 1vw 0vh 1vw;
        }
    }

    .info{
        margin: 1vh 0.5vw 0vh 1vw; 
        display: block;
        min-height: 65vh;
        max-height: 65vh;
        overflow: overlay;
        background-color: var(--background-color);
        @media (max-width: 850px) {
            margin: 1vh 1vw 0vh 1vw;
            min-height: 0vh;
        }
    }
  }

  .detail{
    margin: 1em;
  }

  .link-row{
    margin: 1em;
    a{
        vertical-align: super;
        padding-left: 0.5em;
    }
  }



  @media (max-width: 850px) {
    .row{
        flex-direction: column;
        .column{
            min-width: unset;
        }
    }
  }


    ul {
        list-style: none;
        padding-inline-start: 0px;
        img {
            width: 16px;
            height: 16px;
        }
    }