:host{
    min-width: 150px;
    flex-basis: 7%;

    z-index: 1;
    padding-top: 10px;
    box-sizing: border-box;
    background: #4f5a68;
    color: aliceblue;
    //box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
    transition: transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s, transform 0.5s;



    @media (max-width: 600px) {
        min-width: unset !important;
        display: none;

    }
  


    ul {
        list-style: none;
        padding: 0;
        li{
            cursor: pointer;
            padding: 10px;
            padding-left: 20px;
            &:hover{
                background-color: #84bcfd;
            }
        }
    }

    
}