footer{
    height: 2em;
    padding: 1em;
    background-color: var(--primary-color-5);
    color: #a7a9ac;
    
    span{
        font-weight: bold;
        font-size: 1.5em;

        a{
            color: var(--primary-color-1);
        }
    }
}