footer{
    height: 2em;
    padding: 1em;
    background-color: var(--primary-color-4);
    color: #a7a9ac;
    
    span{
        font-weight: bold;
        font-size: 1em;

        a{
            color:  #fff;
        }
    }
}