<footer>
    <div class="logo">
        <a href="/"><img class="logo" src="/assets/logo.png"></a>
        <span>FT Open Cup</span>
    </div>
    <div class="links">
        <a href="https://discord.gg/6QDV3Dw" target="_blank"><img src="/assets/img/ico/Discord.png" /></a>
        <a href="https://battlefy.com/fellow-tamers" target="_blank"><img src="/assets/img/ico/Battlefy.png" /></a>
        <a href="https://www.twitch.tv/fellow_tamers_to" target="_blank"><img src="/assets/img/ico/Twitch.png" /></a>
        <a href="https://www.youtube.com/channel/UCiEYC1u3-R2HYFnlpDwJ8Ww" target="_blank"><img src="/assets/img/ico/YouTube.png" /></a>
        <a href="https://twitter.com/FellowTamers" target="_blank"><img src="/assets/img/ico/Twitter.png" /></a>
        <a href="http://fellowtamers.com/" target="_blank"><img src="/assets/img/ico/FT.png" /></a>
    </div>
    <div class="copy">
        <p>©2020 FT Open Cup</p>
        <p>Temtem and all other related names are the property of Crema.</p>
    </div>
</footer>