
:host{
   background-color: var(--primary-color-1);
   display: block;
   padding-top: 1vh;
}

 .rowTable{
   //margin: 1em;
   margin: 1vw 1vw 1vw 1vw;;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   flex-flow: wrap;
}
 
 .column {
   flex-basis: 50%;
   min-width: 400px;
   width: 100%;
 }

 
 @media (max-width: 850px) {
      .column{
         min-width: unset;
      }
      .front,.back{
        flex-direction: column;
      }
 }
   

  
