.row{
    //margin: 1em;
    padding: 1em 1em 0em 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: wrap;
 }

 
 .column {
   flex-basis: 50%;
   min-width: 400px;
   width: 100%;
 }

 
 @media (max-width: 850px) {
   .row{
      flex-direction: column;
      }
      .column{
         min-width: unset;
         // flex-basis:100%;
      }
   }

  
