<div class="row">
    <div class="column">
        <app-temtem-graph url="graph1" title="Teams by Temtem" categoryName="category" serieName="serie" valueName="value" type='column'></app-temtem-graph>
    </div>
    <div class="column">
        <app-temtem-graph url="graph2" title="Teams by Temtem (Top 8)" categoryName="category"  serieName="serie" valueName="value" type='column'></app-temtem-graph>
    </div>
</div>
<div class="row">
    <div class="column">
        <app-temtem-graph url="graph3" title="Winrate by Temtem" categoryName="temtem" serieName="serie" valueName="value" type='column'></app-temtem-graph>
    </div>
    <div class="column">
        <app-temtem-graph url="graph4" title="Winrate by Temtem (Top 8)" categoryName="temtem" serieName="serie" valueName="value" type='column'></app-temtem-graph>
    </div>
</div>
<div class="row">
    <app-temtem-graph url="graph5" title="Picks/Bans by Temtem (Top 4)" categoryName="temtem" serieName="serie" valueName="value" type='column'></app-temtem-graph>
</div>
<div class="row">
    <app-temtem-graph url="graph6" title="Evolution of use" categoryName="category" serieName="serie" valueName="value" type='line'></app-temtem-graph>
</div>