header{
    height: 4em;
    text-align: center;
    padding: 1em;
    background-color: var(--primary-color-4);
    color: #a9acff;

    span{
        font-weight: bold;
        font-size: 2.5em;

        .logo{
            width: 50px;
            height: 50px;
            margin: auto 0.5em;
            vertical-align: middle;
        }

        @media (max-width: 600px) {
            .logo{display: none;}
         }
        a{
            color: var(--primary-color-1);
        }
    }
}

menu{
    height: 4em;
    text-align: center;
    background-color: #404e5d;
    margin: 0;

    span{
        margin: auto 1em;
        color: aliceblue;
        vertical-align: middle;
    }
}