header{
    height: 4em;
    padding: 1em;
    background-color: var(--primary-color-4);
    color: #a9acff;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    span{
        font-weight: bold;
        font-size: 2.5em;
        text-align: center;

        .logo{
            width: 50px;
            height: 50px;
            margin: auto 0.5em;
            vertical-align: middle;
        }

        @media (max-width: 600px) {
            .logo{display: none;}
         }
        a{
            color: #fff;
        }
    }

    .night_mode{
        margin-left: auto;
        .nigth {
            background: url(/assets/moon.svg) no-repeat;
            background-size: contain;
            background-position: 10%;
            background-size: 90%;
            cursor: pointer;
            display: inline-block;
            height: 40px;
            width: 40px;

            &.active{
                background-color: whitesmoke;
            }
        }
    }

}

menu{
    height: 4em;
    text-align: center;
    background-color: #404e5d;
    margin: 0;

    span{
        margin: auto 1em;
        color: aliceblue;
        vertical-align: middle;
    }
}