<div class="menu-mobile" [matMenuTriggerFor]="menu">Menu</div>
<mat-menu #menu="matMenu" xPosition="before">
  <div mat-menu-item class="menu-option" [routerLink]="['/circuit']"  routerLinkActive="active">
    <div class="option-container"><span>Circuit</span></div>
  </div>
  <div mat-menu-item class="menu-option" [routerLink]="['/tournaments']"  routerLinkActive="active">
    <div class="option-container"><span>Tournaments</span></div>
  </div>
  <div mat-menu-item class="submenu-option" [routerLink]="['/statistics/overview']"  routerLinkActive="active">
    <div class="option-container"><span>Statistics: Overview</span></div>
  </div>
  <!-- <div mat-menu-item class="submenu-option" [routerLink]="['/statistics/temtem/110']"  routerLinkActive="active">
    <div class="option-container"><span>Statistics: Temtem</span></div>
  </div> -->
</mat-menu>