
:host{
    display: block;
    width: 100%;
    height: 100%;

}

.card-container.active{
    display: flex;
}

.card-container{
    flex-basis: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: wrap;
    display: none;
}

@media (max-width: 850px) {
    .card-container{
        flex-direction: column;
        width: 100%;
    }
}