<ng-container [ngSwitch]="type">
    <app-column-graph *ngSwitchCase="'column'" [title]="title" [subtitle]="subtitle" [categories]="categories" [series]="series" [stacked]="stacked"
        [colors]="colors" [legend]="legend">
    </app-column-graph>

    <app-line-graph *ngSwitchCase="'line'" [title]="title" [subtitle]="subtitle" [categories]="categories" [series]="series"
        [colors]="colors"></app-line-graph>
    
    <app-spider-graph *ngSwitchCase="'spider'" [title]="title" [subtitle]="subtitle" [categories]="categories" [series]="series"
        [colors]="colors"></app-spider-graph>

</ng-container>