
:host{
   display: block;
}

.graph{
   background-color: var(--background-color);
   padding: 1vw;
   // width: inherit;
   // height: inherit;
}

.pagination{
   position: absolute;
   z-index: 2;
   button{
      position: relative;
      margin-left: 1vh;
      margin-top: 4vh;
   }
}