:host{

    table{
        width: 100%;
        height: 100%;
        background-color: var(--background-color);
        color: var(--main-color);
        th, td{
            color: var(--main-color);
        }
        caption{
            background-color: var(--background-color);
            color: var(--main-color);
        }
    }
}